<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta author="Mefi"/>

        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="Difie"/>
        <meta property="og:title" content="Difie is a simple tool for side-by-side comparing the source of two URLs." />
        <meta property="og:description" content="Side-by-site comparing {{ result.data.responseLeft.request.uri.href }} and {{ result.data.responseRight.request.uri.href }}" />
        <meta property="og:image" content="http://difie.mefi.be/images/logo.png" />

        <title>difie - Side by side diff</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/diff.css" />
    </head>
    <body>
        <div id="container">

            <header>
                <a href="/">
                    <img alt="difie logo" src="/images/logo.png" />
                </a>
                <h1>Side-by-side diff</h1>
                <p>Difie found {{ result.diff.length }} differencies.</p>
            </header>

            <div class="header left">
                <p>
                    <a href="{{ data.responseLeft.request.uri.href }}" target="difie-left">
                        {{ result.data.responseLeft.request.uri.href }}
                    </a>
                </p>
            </div>

            <div class="header right">
                <p>
                    <a href="{{ data.responseRight.request.uri.href }}" target="difie-right">
                        {{ result.data.responseRight.request.uri.href }}
                    </a>
                </p>
            </div>

            <ul class="diff-container left">
                {% for line in result.diff %}
                <li class="line">
                    {% autoescape false %}{{ line.left }}{% endautoescape %}
                </li>
                {% endfor %}
            </ul>

            <ul class="diff-container right">
                {% for line in result.diff %}
                <li class="line">
                    {% autoescape false %}{{ line.right }}{% endautoescape %}
                </li>
                {% endfor %}
            </ul>

            <div class="footer left">
                <p>{{ result.data.responseTimeLeft }} ms</p>
            </div>

            <div class="footer right">
                <p>{{ result.data.responseTimeRight }} ms</p>
            </div>

            <footer>
                <p><a href="http://difie.mefi.be/">difie</a> &copy; 2015 <a href="http://mefi.be/">Mefi</a></p>
            </footer>
        </div>

    {% include "./analytics.html" %}

    </body>
</html>